.modal-bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(39, 39, 39, 0.5);
    backdrop-filter: blur(2px);
    min-height: 0
}

.theme-modal-box {
    /* padding:15px; */
    margin: 0 auto;
    background: white;
    /* mix-blend-mode: overlay; */
    border-radius: 32px;
    width: 270px;
    height: 30%;
}

.theme-container {
    border-radius: 32px;
    padding: 0 20px
}

.theme-container .theme-circle {
    padding: .9em 1.6em;
}